//colors
$main-color: #fff8e7;
$additional-color: #ba66ff;
$text-color: #fffff0;
$second-color: #ffdab9;
$background-color: #3b3c36;

//step
$ui-step: 0.25rem;

//borders

$big-border: 20px;
$small-boreder: 15px;